@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
    min-height: 110vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: url('../images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: 350%;
}

@media (min-width: 900px) {
    body {
        background-size: 100%;
    }
}

main {
    display: grid;
    place-items: center;
}

.main-container {
    width: min(90%, 660px);
    margin-inline: auto;
}


.pageviews {
    letter-spacing: 0.1em;
}

.heading {
    margin-inline: auto;
    background-image: url('../images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
}


input[type=range] {

    margin: 18px 0;
    -webkit-appearance: none;
    background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 20px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: hsl(174, 86%, 45%);
    border-radius: 50%;
    box-shadow: -210px 0 0 200px hsl(224, 65%, 95%);
    cursor: pointer;
    height: 10px;
    width: 10px;
    border: 0;
}

input[type="range"]::-moz-range-progress {
    background-color: hsl(174, 86%, 45%);
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type="range"]::-moz-range-track {
    background-color: hsl(224, 65%, 95%);
    height: 10px;
    border-radius: 4px;
    width: 100%;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: hsl(174, 86%, 45%);
    border-radius: 100vw;
    border: 0;
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: hsl(174, 86%, 45%) 0px 10px 36px 0px, hsl(174, 86%, 45%) 0px 0px 0px 1px;
    margin-top: -7px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb:active {
    background-color: hsl(174, 86%, 35%);
}

input[type=range]::-webkit-slider-runnable-track {
    background: hsl(174, 86%, 45%);
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 100vw;
    margin-top: -7px;
    cursor: pointer;
}



@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    input[type=checkbox] {
        --active: hsl(174, 86%, 45%);
        --active-inner: #fff;
        --notactive: #fff;
        --border-hover: #275EFE;
        --background: hsl(223, 50%, 87%);
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -moz-appearance: none;
        height: 28px;
        width: 53px;
        border-radius: 15px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type=checkbox].switch:after {
        left: 4px;
        top: 4px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: var(--ab, var(--notactive));
        transform: translateX(var(--x, 0));
    }

    input[type=checkbox].switch:checked {
        --ab: var(--active-inner);
        --x: 24.5px;
    }

    input[type=checkbox]:after,
    input[type=radio]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type=checkbox]:checked,
    input[type=radio]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type=checkbox]:disabled:checked,
    input[type=radio]:disabled:checked {
        --b: var(--disabled-inner);
    }

    input[type=checkbox]:disabled+label,
    input[type=radio]:disabled+label {
        cursor: not-allowed;
    }

    input[type=checkbox]:hover:not(:checked):not(:disabled),
    input[type=radio]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
        --background: hsl(174, 86%, 45%);
    }

    input[type=checkbox].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
}